@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-area="Admin" asp-action="Index" asp-controller="Category">Test Areas && Go to Category List </a>