@if (TempData["ToastrMSG"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script type="text/javascript">
        toastr.info('@TempData["ToastrMSG"]')
    </script>
    @*  <h3>@TempData["ToastrMSG"]</h3>*@

}

 
